body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.blue-highlight{
    color: blue;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 110%;
}
p{
    text-align: justify;
}
h1{
    font-size: 50px;
}
#banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.button{
    text-decoration: none;
    font-size: large;
    background-color: yellow;
    padding: 15px 20px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg, yellow, #FF8C00);
    border-radius: 5px;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
#banner2{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#making-center{
    text-align: center;
}
.photos{
    float: left;
}
.photos img{
    width: 30%;
    padding-right: 15px;
    padding-left: 20px;
}
#banner3{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.center-allignment{
    text-align: center;
}
.setting{
    padding-top: 20px;
}
#comment{
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 20px;
}
.center-allignment p{
    color: #A8A8A8;
}
#button2{
    text-decoration: none;
    background-color: black;
    padding-top: 20%;
}
#size{
    font-size: large; 
}
#button-pera{
    margin-left: 40%;
    text-align: center;
}
